[SERVICE]
    Flush         10
    Log_Level     info
    Daemon        off
    Parsers_File  parsers.conf
    storage.path  /var/lib/fluent-bit/buffer
    storage.sync  normal

[INPUT]
    Name              systemd
    Tag               host.*
    Path              /var/log/journal
    Read_From_Tail    On
    Mem_Buf_Limit     5MB
    Strip_Underscores On
    storage.type      filesystem

[OUTPUT]
    Name              loki
    Match             *
    Host              {{ fluent_bit_loki_host }}
    Port              {{ fluent_bit_loki_port }}
    labels            job=fluent-bit, log_type=syslog, hostname=$HOSTNAME
    Retry_Limit       False
